<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Waterball Bash Blackjack</title>
</head>
<body>
  <h1>Welcome to Waterball Bash Blackjack!</h1>
  <h2>To play game by your terminal, you can paste and run following command:</h2>
  <pre><code id="shell-command"></code></pre>
  <script>
    document.getElementById('shell-command').textContent = `curl -sL ${location} | bash`;
  </script>
</body>
</html>
